@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-image: url('../img/bg.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBoard{
    position: absolute;
    top: 10%;
    right: 10%;
    background-color: papayawhip;
    padding: 10px 20px;
    font-family: 'Zen Dots', cursive;
    display:flex;
    flex-direction: column;
    /* gap: 10px; */
}

#score{
    padding: 5px;
}

#hiscore{
    border-top: 2px solid #666;
    padding: 5px;
}

#board{
    width: 40vw;
    height: 85vh;
    background-color: aquamarine;
    background: linear-gradient(#fbd07c,#ffff96);
    border: 5px double #1d766c;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
}

.head{
    background:linear-gradient(red,yellow);
    border: 2px solid #000;
    border-radius: 12px;
    transform: scale(1.02);
}
.snakeBody{
    background: linear-gradient(green,#333);
    border: 2px solid whitesmoke;
    border-radius: 15px;
}
.food{
    background: linear-gradient(red, purple);
    border: 2px solid #000;
    border-radius: 12px;
}